<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Traductor Maya</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section id="intro" class="intro">
    <div class="intro-card">
        <h1>MayaLearn</h1>
        <p>
            Aprende palabras en maya, escucha su pronunciación
            y practica hablando con ayuda del micrófono.
        </p>

        <p class="desarrolladores">
            Desarrollado por Adrian Vázquez May y Alejandra Aguilar Uc
        </p>

<button onclick="document.getElementById('intro').style.display='none'">
    Comenzar
</button>
    </div>
</section>

    <div class="contenedor">

        <div class="avatar-box">

    <img
        id="avatar"
        src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png"
    >

    <div class="avatar-info">

        <h3 id="nombre-avatar">
            Kaambal
        </h3>

        <p id="mensaje-avatar">
            Bienvenido a MayaLearn
        </p>

<div id="expresion-avatar">🙂</div>

    </div>

</div>

        <h1>Traductor Español - Maya</h1>

        <div class="progreso">
    <p id="nivel">Nivel: 1</p>
    <p id="xp">XP: 0</p>
</div>

<div class="categorias">
    <button onclick="cargarCategoria('basico')">
        Básico
    </button>

    <button onclick="cargarCategoria('animales')">
        Animales
    </button>

    <button onclick="cargarCategoria('familia')">
        Familia
    </button>

    <button onclick="cargarCategoria('escuela')">
        Escuela
    </button>
</div>

        <input
            type="text"
            id="palabra"
            placeholder="Escribe una palabra"
        >

        <button onclick="traducir()">
            Traducir
        </button>
        <button onclick="traduccionIA()">
    Traducción inteligente
</button>


<button onclick="escuchar()">
    🎤 Hablar
</button>

        <h2 id="resultado"></h2>

        <h3 id="pronunciacion"></h3>

        <button onclick="hablar()">
            🔊 Escuchar
        </button>

        <hr>

<h2>Practicar pronunciación</h2>

<h3 id="palabra-practica"></h3>
<button onclick="nuevaPalabra()">
    🎲 Nueva palabra
</button>

<button onclick="escucharPronunciacion()">
    🎤 Pronunciar
</button>

<h2 id="calificacion"></h2>

<div class="barra">
    <div id="barra-progreso"></div>
</div>

<h3 id="tip"></h3>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>